@model Day1.Models.Trainer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using(Html.BeginForm())
{
    <table>
        <tr>
            <td></td>
            <td>@Html.HiddenFor(model=>model.Id)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model=>model.Name)</td>
            <td>@Html.EditorFor(model=>model.Name)</td>
        </tr>
         <tr>
            <td>@Html.LabelFor(model=>model.TrainingId)</td>
            <td>@Html.EditorFor(model=>model.TrainingId)</td>
        </tr>
         <tr>
            <td>@Html.LabelFor(model=>model.specification)</td>
            <td>@Html.EditorFor(model=>model.specification)</td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Create" />
    </p>
}
@Html.ActionLink("Back","Index");