@model RestaurantMVC.Models.MenuServiceDB
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using(Html.BeginForm())
{
    
<table width="100%">
    <tr>
        <td>@Html.DisplayNameFor(model=>model.Id)</td>
        <td>@Html.EditorFor(model=>model.Id)</td>
    </tr>
     <tr>
        <td>@Html.DisplayNameFor(model=>model.itemName)</td>
        <td>@Html.EditorFor(model=>model.itemName)</td>

    </tr>
     <tr>
        <td>@Html.DisplayNameFor(model=>model.itemPrepTime)</td>
        <td>@Html.EditorFor(model=>model.itemPrepTime)</td>

    </tr>
     <tr>
        <td>@Html.DisplayNameFor(model=>model.itemPrice)</td>
        <td>@Html.EditorFor(model=>model.itemPrice)</td>

    </tr>
</table>
    <input name="Update" type="submit"/>
}