@model IEnumerable<RestaurantMVC.Models.MenuServiceDB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>@Html.ActionLink("Create","Create","Menu")</h2>
<table width="100%" border="1">
   @foreach(var i in Model)
   {
     <tr>
        <td>@Html.DisplayFor(m=> i.Id)</td>
        <td>@Html.DisplayFor(m=> i.itemName)</td>
        <td>@Html.DisplayFor(m=> i.itemPrepTime)</td>
        <td>@Html.DisplayFor(m=> i.itemPrice)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { Id=i.Id})</td>
        <td>@Html.ActionLink("Details", "Details", new { Id=i.Id})</td>


     </tr>
   }
  
</table>





















      @*<td>@Html.DisplayNameFor(model=>model.itemMenu[0].itemID)</td>
          <td>@Html.DisplayNameFor(model=>model.itemMenu[0].itemName)</td>
        <td>@Html.DisplayNameFor(model=>model.itemMenu[0].itemPrepTime)</td>
        <td>@Html.DisplayNameFor(model=>model.itemMenu[0].itemPrice)</td>
*@
 @* @for (int i = 0; i < 3;i++ )
    {
        @for()
        {
             <tr>
      
        <td>@Html.DisplayFor(model=>model.)</td>  
        <td>@Html.DisplayFor(model=>model.itemMenu[i].itemName)</td>  
        <td>@Html.DisplayFor(model=>model.itemMenu[i].itemPrepTime)</td> 
        <td>@Html.DisplayFor(model=>model.itemMenu[i].itemPrice)</td>   
        @Html.ActionLink("Edit", "Edit", new {})
    </tr>
        }
   
    }
    *@