@model RestaurantMVC.Models.Order

@{
    ViewBag.Title = "TakeOrder";
}

<h2>TakeOrder</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(model=>model.Id)</td>
        <td>@Html.DisplayFor(model=>model.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model=>model.orderDate)</td>
        <td>@Html.DisplayFor(model=>model.orderDate)</td>
    </tr>
    <tr>
        <td>@Html.DropDownList("xyz")</td>
    </tr>
</table>
