@model IEnumerable<CoursePractice.Models.Dept>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>List Of Departments :</h4>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model=>model.Id)
        </td>
         <td>
            @Html.DisplayNameFor(model=>model.Name)
        </td>
    </tr>
    @foreach(var deptItem in Model)
    {
        <tr>
       <td>@Html.DisplayFor(x=>deptItem.Id)</td> 
       <td>@Html.DisplayFor(x=>deptItem.CourseId)</td> 
       <td>@Html.DisplayFor(x=>deptItem.Name) </td> 
            </tr>
        
        
        
    }
</table>
